[submodule "Window"]
	path = Window
	url = https://github.com/waterlily-team/window.git
[submodule "Vulkan"]
	path = Vulkan
	url = https://github.com/waterlily-team/vulkan.git
[submodule "Assets"]
	path = Assets
	url = https://github.com/waterlily-team/assets.git
[submodule "Utilities"]
	path = Utilities
	url = https://github.com/waterlily-team/Utilities.git
[submodule "Logging"]
	path = Logging
	url = https://github.com/waterlily-team/Logging.git
