[submodule "Components/window"]
	path = Components/window
	url = https://github.com/waterlily-team/window.git
[submodule "Components/vulkan"]
	path = Components/vulkan
	url = https://github.com/waterlily-team/vulkan.git
[submodule "Components/assets"]
	path = Components/assets
	url = https://github.com/waterlily-team/assets.git
[submodule "Components/logging"]
	path = Components/logging
	url = https://github.com/waterlily-team/logging.git
[submodule "Components/utilities"]
	path = Components/utilities
	url = https://github.com/waterlily-team/utilities.git
