[submodule "Components/tk-vulkan"]
	path = Components/tk-vulkan
	url = https://github.com/RPGtk/tk-vulkan.git
[submodule "Components/tk-window"]
	path = Components/tk-window
	url = https://github.com/RPGtk/tk-window.git
[submodule "Components/tk-utilities"]
	path = Components/tk-utilities
	url = https://github.com/RPGtk/tk-utilities.git
[submodule "Components/tk-assets"]
	path = Components/tk-assets
	url = https://github.com/RPGtk/tk-assets.git
[submodule "Components/tk-logging"]
	path = Components/tk-logging
	url = https://github.com/RPGtk/tk-logging.git
